{% extends "base.html" %}

{% block content %}
<div class="container overview-content">
    <h1>Overview</h1>
    <p>
        Seasonal colour analysis is a method used to determine which colors flatter an individual's natural complexion. 
    </p>
    <p>
        The idea that colours complement different skin, hair, and eye colours differently first originated from Johannes Itten’s Colour Theory in the 1920s. 
        He wrote his book on individual colour harmony, titled “The Art of Color” after observing that his students naturally gravitated towards colours 
        that complemented their complexion.
    </p>
    <p>
        However, Seasonal Colour Analysis became popularized through Carole Jackson’s best-selling book from the 1980s titled “Color Me Beautiful”, 
        which created the four-season colour system where each season was associated with specific palettes of warm and cool tones. 
    </p>
    <p>
        This system was then expanded in the 1990s to have 12 seasons, which allowed for more nuanced analyses. This expansion considered the levels of 
        warmth, brightness, and softness in an individual’s complexion, and created Soft, Bright, True, Dark, and Light categories within the seasons.
    </p>
    <p>
        The 12 season analysis is also what was used in the making of this platform.
    </p>
    <p>
        It is also important to note that seasonal colour analysis was primarily popularized by women, both as theorists and practitioners, 
        leading to a significant traction among women all over the world.
    </p>
</div>
{% endblock %}
